<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
<context:annotation-config></context:annotation-config>
<!-- 配置数据源 --><!-- beans.xml就是个spring容器 --><!--useUnicode=true&amp;characterEncoding=utf-8为了跟数据库中的编码相同，用于解决注册时乱码问题数据库中编码为utf8-->
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName" value="org.gjt.mm.mysql.Driver"/>
	    <property name="url" value="jdbc:mysql://localhost:3306/xiaonei?useUnicode=true&amp;characterEncoding=utf-8"/>
	    <property name="username" value="root"/>
	    <property name="password" value=""/>
	     <!-- 连接池启动时的初始值 -->
	<property name="initialSize" value="3"/>
	 <!-- 连接池的最大值 -->
	 <property name="maxActive" value="500"/>
 <!-- 最大空闲值.当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，一直减少到maxIdle为止 -->
	<property name="maxIdle" value="2"/>
	<!--  最小空闲值.当空闲的连接数少于阀值时，连接池就会预申请去一些连接，以免洪峰来时来不及申请 -->
	<property name="minIdle" value="1"/>
</bean>
<!-- 配置sessionFactory -->
<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
     <property name="dataSource" ref="dataSource"/>
     <property name="mappingResources">
	    <list>
	      <value>com/xiaoyuan/domain/City.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Country.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Junior.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Primaryschool.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Province.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Senior.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Techschool.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Town.hbm.xml</value>
	      <value>com/xiaoyuan/domain/University.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Usernet.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Users.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Usersenior.hbm.xml</value>
	      <value>com/xiaoyuan/domain/Useruniversity.hbm.xml</value>
	    </list>
     </property>
     <property name="hibernateProperties">
	    <value>
	        	hibernate.dialect=org.hibernate.dialect.MySQLDialect
	        	hibernate.hbm2ddl.auto=update
				hibernate.show_sql=false
				hibernate.format_sql=false	      
	  </value>
    </property>
</bean>
<!-- 配置service对象 -->
<bean id="testService" class="com.xiaoyuanwang.service.TestService">
<property name="sessionFactory" ref="sessionFactory"></property>
</bean>
<bean id="countryServiceImpl" class="com.xiaoyuan.service.impl.CountryServiceImpl"/>
<bean id="provinceServiceImpl" class="com.xiaoyuan.service.impl.ProvinceServiceImpl"></bean>
<bean id="universiteImpl" class="com.xiaoyuan.service.impl.UniversityServiceImpl"></bean>
<bean id="userServiceImpl" class="com.xiaoyuan.service.impl.UserServiceImpl"></bean>
<bean id="userUniversityServiceImpl"  class="com.xiaoyuan.service.impl.UserUniversityServiceImpl"></bean>
<!-- 配置action -->

<bean name="/test" class="com.xiaoyuan.web.action.TestAction">
</bean>

<bean name="/register" class="com.xiaoyuan.web.action.RegisterAction">
<property name="coutryService" ref="countryServiceImpl"></property>
<property name="provinceService" ref="provinceServiceImpl"></property>
<property name="universityService" ref="universiteImpl"></property>
<property name="userService" ref="userServiceImpl"></property>
<property name="userUniversityService" ref="userUniversityServiceImpl"></property>
</bean>

<bean name="/login" class="com.xiaoyuan.web.action.LoginAction">
<property name="userService" ref="userServiceImpl"/>
</bean>
<bean  name="/profile" class="com.xiaoyuan.web.action.ProfileAction">
<property name="userService" ref="userServiceImpl"></property>
</bean>

<bean name="/album" class="com.xiaoyuan.web.action.AlbumAction">
</bean>

<!-- 配置事务管理器 -->
<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
<property name="sessionFactory" ref="sessionFactory"></property>
</bean>
<tx:annotation-driven transaction-manager="txManager"/>
</beans>